/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400;500;700;900&display=swap');
/* ======font family=========
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
*/

:root{
  --color_yellow : #FED442;
  --color_orange : #FE6442;
  --color_btn : #4764DC;
}


body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; 
  font-size: 16px; 
  margin: 0;
  padding: 0;
  background: #E5E5E5;color: #000;}

  
button {
  cursor: pointer; 
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  /* color: inherit; */
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  
  margin-top: 0px; 
  font-weight: 700;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 38px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

.pb_150{padding-bottom: 150px;}
.pb_100{padding-bottom: 100px;}
.pb_50{padding-bottom: 50px;}
.pt_150{padding-top: 150px;}
.pt_100{padding-top: 100px;}
.pt_50{padding-top: 50px;}

.mb_150{margin-bottom: 150px;}
.mb_100{margin-bottom: 100px;}
.mb_50{margin-bottom: 50px;}
.mt_150{margin-top: 150px;}
.mt_100{margin-top: 100px;}
.mt_50{margin-top: 50px;}
 
.thm_btn{display: block;text-align: center;background: var(--color_btn);color: #fff;border-radius: 30px;font-size: 18px;font-weight: 400;padding: 12px 0;max-width: 520px;margin: 30px 0;transition: all .3s ease-in-out;}

.thm_btn:hover i {transform: translate(15px, 3px);}

a.thm_btn i {transform: translate(10px, 3px);transition: all .3s ease-in-out;}

/* default-css END 
================================== */



/*======= bg-color page Start =======*/
.pick_bg_color {
/* height: 100vh; */}
.container {
max-width: 1400px;}
.contact .row {
height: 100vh;}
.col-lg-6 {
}
.pick_bg_color_cont {
max-width: 550px;margin: auto;position: relative;height: 90vh;}

.pick_bg_color_cont h1 {margin-bottom: 40px;margin-top: 70px;}
.logo_area {
display: flex;align-items: center;justify-content: space-between;margin: 50px 0;}

a.left_go {font-size: 25px;display: none;}

.logo_area span {width: 50px;height: 50px;background: var(--color_yellow);display: flex;align-items: center;justify-content: center;border-radius: 50%;font-size: 12px;font-weight: 700;color: #fff;}
.pick_bg_color_box {
background: #FFFFFF;
border-radius: 30px;width: 522px;
height: 368px;padding: 35px;}

div#pills-tabContent {height: 100%;}

.Pre_made button {width: 90px;height: 90px;display: inline-block;border-radius: 50%;box-sizing: border-box;border: none;border: 3px solid #ff000000;box-sizing: border-box;}

.Pre_made button.active {border: 3px solid var(--color_yellow);}

.Pre_made ul {display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;height: 100%;}

.Pre_made {height: 100%;}

.Pre_made ul li {width: 25%;}
.tab_btn li button {background-color: white;border: none;font-size: 16px;font-weight: 500;margin-right: 10px;border-radius: 15px !important;padding: 10px 25px;line-height: 1;}

.tab_btn li button.active {background: var(--color_yellow) !important;color: unset !important;}
.pick_bg_color_img {
background: #fff;border-radius: 30px;margin-top: 50px;height: 94%;width: 90%;display: flex;align-items: center;justify-content: center;overflow: hidden;}

.pick_bg_color_img img {width: 100%;/* height: 100%; */}
.Previous_btn {
font-size: 18px;font-weight: 500;display: flex;align-items: center;margin-top: 20px;}

.Previous_btn i {font-size: 27px;margin-right: 10px;}



/* -----Pick your own----- */
.color-picker {}

  .pallette {
  height: 195px;
  width: 100%;
  background-color: red;
  background-image: 
    linear-gradient(0deg, black, rgba(0,0,0,0)),
    linear-gradient(90deg, white, rgba(255,255,255,0))
    ;
  position: relative;
  border-radius: 20px;}
  
  .pallette:hover {
  cursor: pointer;
  }
  
  .slider-bar {
  margin: 1em 0; 
  height: 1em;
  border-radius: 0.3em;
  border: 1px solid #ccc;
  position: relative;
  }
  
  .color-picker input[type="range"] {
  margin: 1em 0;
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  background-image: linear-gradient(to right, red, yellow, hsl(120, 100%, 50%), cyan, blue, magenta, red);
  background-color: #fff;
  height: 2em;
  border-radius: 20px;
  box-sizing: border-box;
  }
  
  .color-picker input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 2rem;
  box-sizing: border-box;
  margin-left: 0px;
  }
  
  .result {background: none !important;color: #000 !important;border: 1px solid #898989;padding: 8px;border-radius: 14px;text-align: left;padding-left: 20px;font-size: 20px;}
  
  .circle {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: 1px solid #fff !important;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  }
/* ----Pick your own------ */


/*======= bg-color page End ==========*/


/*=======terms_photo page Start =======*/
.Photo_guideline {
}
.pg_content {
max-width: 700px;}

.pg_content h1 {margin-bottom: 50px;}

.pg_content ul li {margin-bottom: 30px;}
.pg_content_blk {
display: flex;align-items: flex-start;}

.pg_content_blk span {width: 50px;height: 50px;background: #757884;display: flex;justify-content: center;align-items: center;border-radius: 50%;flex: 0 0 10%;max-width: 50px;margin-right: 20px;font-size: 24px;font-weight: 700;color: #fff;}
.pcb {
font-size: 21px;}

.pcb p a {font-weight: 600;text-decoration: underline;display: inline-block;font-size: 21px;}

.pcb h3 {font-size: 21px;margin-top: 30px;}
.terms_box {
margin-top: 100px;background: var(--color_orange);color: #fff;display: flex;padding: 30px;border-radius: 30px;align-items: center;}

.terms_btn {max-width: 630px;margin-left: auto;}

.terms_btn a {width: 100%;max-width: 100%;}

.terms_box > i {width: 42px;height: 42px;background: #fff;border-radius: 50%;margin-right: 20px;border: 2px solid #CD2D0A;
box-sizing: border-box;position: relative;}

.terms_box > i.active:after {opacity: 1;}

.terms_box > i:after {content: "";position: absolute;width: 85%;height: 85%;background: #4764DC;border-radius: 50%;left: 50%;top: 50%;transform: translate(-50% ,-50%);opacity: 0;transition: all .3s ease-in-out;}

.terms_box > i:focus:after,.terms_box > i:focus-within:after {opacity: 1;}

.terms_box p {font-size: 24px;font-weight: 600;max-width: 450px;margin-bottom: 0;line-height: 1.2;}
.pg_img {
overflow: hidden;position: relative;}

.pg_img_slider {margin-bottom: 30px;border-radius: 20px;overflow: hidden;}

div#tp2two {position: relative;z-index: 9;max-width: 300px;margin-left: auto;}

div#tp2three {margin-top: -247px;}

div#tp2three i {width: 430px;}

div#tp2two i {width: 300px;}

div#tp2one i {width: 450px;max-height: 550px;}

div#tp2one i img {width: 100%;height: 100%;}

div#tp3four {max-width: 500px;margin-bottom: 0;margin-top: -90px;}

div#tp3four i {height: 380px;width: 510px;}

div#tp3Three i {width: 470px;}

div#tp3Three {margin-left: auto;max-width: 471px;}

.pg_img_slider i img {width: 100%;height: 100%;object-fit: cover;}

.pg_img_slider i {display: block;
    max-width: 100%;
    max-height: 100%;border-radius: 20px;overflow: hidden;}

div#tp3Two {max-height: 410px;max-width: 280px;margin-left: auto;margin-top: -344px;margin-bottom: 0;}

div#tp3Two  i {width: 280px;}

div#tp3one {max-height: 500px;max-width: 380px;}

.pg_img img {border-radius: 20px;}

.pg_img h3 {margin-bottom: 25px;}

.pg_img > i {display: block;margin-bottom: 20px;}

i.gd-10 {margin-top: -100px;}

i.gd-8 {position: absolute;right: 0;top: 20%;}

i.gd-6 {margin-top: -205px;}

i.gd-5 {text-align: center;position: relative;margin-right: -54px;}
/*=======terms_photo page End ==========*/


/*=======Renaissance page Start =======*/
.pick_style_wrp {display: flex !important;flex-wrap: wrap;margin-bottom: 30px;margin: auto;}

.pick_style_wrp a p {font-size: 20px;font-weight: 600;margin-top: 10px;}

.pick_style_wrp a span.last_ps {margin: 0;position: unset;margin-top: -15px;display: block;margin-bottom: 10px;font-size: 18px;font-weight: 500;color: #898989;}

.pick_style_wrp a {position: relative;text-align: center;flex: 0 0 33%;max-width: 235px;box-sizing: border-box;display: block;margin: 10px 20px;}

.pick_style_wrp a:focus-within span i, .pick_style_wrp a:focus span i {opacity: 1;}

.pick_style_wrp a:focus-within, .pick_style_wrp a:focus {animation: bounce 3s inifinity;}

.pick_style_wrp a:focus-within > i, .pick_style_wrp a:focus > i {border-color: var(--color_yellow);}

.pick_style_wrp a i {border: 3px solid transparent;border-radius: 15px;transition: all .3s ease-in-out;overflow: hidden;display: flex;align-items: center;justify-content: center;}

.pick_style_wrp a i img {width: 100%;}

.pick_style_wrp a span {position: absolute;right: 30px;top: 33px;}

.pick_style_wrp a span i {font-size: 25px;color: var(--color_yellow);opacity: 0;}
.pick_style{position: relative;margin-bottom: 20px;}

.which_style .row {align-items: self-start;height: 100vh;}
/*=======Renaissance page End ==========*/


/*======= page Start =======*/
.contact {
height: 100vh;/* overflow: hidden; */}
.container-fluid {
}
.contact_form {
max-width: 500px;margin: auto;}

.additional .input-blk button {position: absolute;right: 0;top: 50%;border: none;font-size: 13px;padding: 6px 17px;border-radius: 10px;transform: translateY(-50%);text-transform: uppercase;font-weight: 600;background: var(--color_btn);color: #fff;right: 20px;line-height: 1.3;}

.contact_form.get_started {}

.get_started input {padding: 20px;padding-left: 65px;}

.get_started .mail input {padding-left: 65px;}

.contact_form a.logo {display: block;margin: 40px 0 130px;}
.logo {
}
.contact_form_cont {
}

.pet_photo_cont {}

.pet_photo_cont .input-blk .textarea {height: 110px;}

.essential_info {padding-top: 30px;}

.essential_info a.thm_btn {margin-bottom: 0;}

.essential_info label.input_label {margin-bottom: 25px;}

.essential_info h2 {margin-bottom: 30px;}

.essential_info .input-blk {overflow: unset;}

label.input_label span {display: block;font-weight: 600;margin-left: 5px;margin-bottom: 5px;font-size: 18px;}

label.input_label {display: block;margin-bottom: 25px;}

.input_label_top {display: flex;justify-content: space-between;width: 98%;}

.input_label_top a {position: relative;}

.input_label_top a:hover p {opacity: 1;z-index: 1;}

.input_label_top a:hover i {opacity: 1;}

.input_label_top a i {opacity: .6;font-size: 20px;}

label.input_label p {position: absolute;margin-bottom: 0;background: var(--color_yellow);padding: 10px 20px;border-radius: 20px;width: max-content;top: -60px;left: -880%;opacity: 0;z-index: -1;}

label.input_label p:after {content: "";position: absolute;width: 13px;height: 13px;background: #fed442;left: 50%;bottom: -11px;transform: rotate(45deg) translateX(-50%);}

.contact_form_cont span.bdr {display: block;text-align: center;margin-bottom: 15px;font-size: 18px;font-weight: 500;position: relative;}

span.bdr:after, span.bdr:before {content: "";position: absolute;width: 47%;height: 1px;background: linear-gradient(45deg, #00000059, transparent);top: 50%;right: 0;}

span.bdr:before {left: 0;background: linear-gradient(269deg, #00000059, transparent);}

.contact_form_cont p {font-size: 18px;font-weight: 600;}

.contact_form_cont h2 {font-size: 48px;margin-bottom: 20px;}
.input-blk {
width: 100%;height: 55px;border: none;position: relative;margin-bottom: 15px;background: #FFFFFF;
border: 1px solid #C8CACB;
box-sizing: border-box;
border-radius: 30px;overflow: hidden;font-size: 18px;}

.second_picture {color: var(--color_btn);border-color: var(--color_btn);cursor: pointer;}

.input-blk i {position: absolute;top: 50%;transform: translateY(-50%);left: 28px;font-size: 20px;}

.input-blk i.fali#message, i#message {left: auto;right: 25px;color: var(--color_btn);}

i.fa-times {color: red !important;}

.input-blk input,.input-blk textarea {width: 100%;height: 100%;border: none;border-radius: 30px;padding: 0 20px;}

.input-blk:focus,.input-blk:focus-within {border-color: var(--color_btn);}

.input-blk:focus i.fa-check-circle, .input-blk:focus-within i.fa-check-circle {}
.thm_btn {
}
.space {
}
.contact_img {
height: 100%;max-height: 100vh;overflow: hidden;position: relative;}

.contact_img img {width: 100%;object-fit: cover;height: 100vh;}
/*======= page End ==========*/


/*=======pet_photo page Start =======*/
.pet_photo_cont input {width: 100%;}

.pet_photo_cont input[type="file"] {opacity: 0;cursor: pointer;}

a.Drag_drop {position: absolute;left: 30px;top: 50%;margin-bottom: 0;display: block;transform: translateY(-50%);opacity: .5;font-size: 16px;}

.input-blk i.far.fa-arrow-circle-up {opacity: .5;right: 30px;position: absolute;left: auto;font-size: 23px;}
label.Upload_file {}

label.Upload_file .input-blk {height: 100px;border-style: dashed;border-width: 2px;}
.input-blk.textarea {height: 110px;padding: 15px;}

.input-blk textarea {border-radius: 0;}
.second_picture p {font-size: 16px;position: absolute;left: 70px;top: 50%;transform: translateY(-50%);}

.second_picture span.add_photo {position: absolute;right: 23px;width: 30px;height: 30px;background: var(--color_btn);color: #fff;display: flex;justify-content: center;align-items: center;top: 50%;transform: translateY(-50%);border-radius: 50%;font-size: 13px;}

.pet_photo {justify-content: left !important;max-width: 770px;margin: auto;}

h5.poster {max-width: 775px;margin: auto;margin-bottom: 20px;}

.pet_photo a > i {height: 300px;}

.pet_photo a i img {object-fit: cover;}

.pet_photo a span:hover i {color: red;opacity: 1;}

.pet_photo a span i {opacity: 1;color: black;}

.pet_photo a span {top: 20px;right: 20px;}

.pet_photo a:focus-within > i, .pet_photo a:focus > i {border: none;}

.pet_photo a:focus-within > span i, .pet_photo a:focus > span i {opacity: 0;}

.pet_photo a {margin: unset;margin-right: 20px;margin-bottom: 10px;}
.sm_block{display: none;}
/*=======pet_photo page End ==========*/


/*=======additional page Start =======*/
.contact {
}
.container-fluid {
}
.row {
}
.col-lg-6 {
}
.contact_form {
}
.additional {
}
.logo {
}
.contact_form_cont {
}
.mb-5 {
}
.input_label {
}
.input-blk {
}
.edit_btn {
}
.check_box {
font-size: 18px;font-weight: 600;margin-bottom: 20px;cursor: pointer;}

label.check_box i {width: 20px;height: 20px;background: #fff;display: inline-block;border-radius: 50%;margin-right: 5px;position: relative;transition: all .3s ease-in-out;}

label.check_box i.active:after {opacity: 1;}

label.check_box i:after {content: "";position: absolute;width: 15px;height: 15px;left: 50%;top: 50%;transform: translate(-50%, -50%);border-radius: 50%;background: var(--color_btn);opacity: 0;transition: all .3s ease-in-out;}
.font_btn_wrp {
display: flex;justify-content: space-around;background: #fff;padding: 30px;border-radius: 25px;margin-top: 10px;}

.font_btn_wrp button {font-size: 18px;font-weight: 600;border: 2px solid #E5E5E5;
box-sizing: border-box;
border-radius: 8px;padding: 10px 20px;display: inline-block;}

.font_btn_wrp button.active {background: var(--color_yellow);border-color: var(--color_yellow);}
.active {
}
.textarea {
}
.pick_style {
}
.thm_btn {
}
.fal {
}
.fa-long-arrow-right {
}
.space {
}
.Previous_btn {
}
.fa-angle-left {
}
.contact_img .owl-dot {
width: 20px;height: 20px;background: #C4C4C4;margin: 0 5px;border-radius: 50%;}

.contact_img .owl-dot.active {background: var(--color_btn);}

.contact_img .owl-dots {display: flex;position: absolute;bottom: 30px;left: 50%;transform: translateX(-50%);}
/*=======additional page End ==========*/


/*=======Last_Think page Start =======*/

.phon_number .input-blk:last-child {flex: 0 0 85%;max-width: 75%;}

.phon_number {display: flex;justify-content: space-between;margin-bottom: -15px;}

.input-phone {flex: 1 0 16%;max-width: 6%;}
.verification{display: flex;align-items: center;margin-top: 10px;}

.verification .input-blk {margin-bottom: 0;}

.verification a {width: 200px;margin-left: 10px;margin-top: 0;margin-bottom: 0;}
.contact_form_cont.last_think_cont{max-width: 750px;text-align: center;margin: auto;}
section.contact.last_think .logo_area {margin-bottom: 0;}

/* country code-------- */

.wrapper {
	
	
  width: 120px;}
  .dropdown dd, .dropdown dt, .dropdown ul {
    margin: 0px;
    padding: 0px;
  }
  .dropdown dd ul li a span:first-child, .dropdown dt a span span:first-child {
    background-image: url('https://i.imgur.com/OQiDoZe.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 11px;
    display: inline-block;
    
    
  margin-right: 10px;}
  .dropdown dt a span {
    cursor: pointer;
    display: block;
    padding: 5px;
    white-space: nowrap;
  }
  .dropdown dt a img {
    position: relative;
    z-index: 1;
  }
  .dropdown dt a span span:first-child:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
  }
  .dropdown dt a span span {
    display: inline-block;
    padding: 0;
  }
  .dropdown dt a span span:first-child {
    padding: 0;
  }
  .dropdown dd {
    position: relative;
  }
  .dropdown a, .dropdown a:visited {
    color: #4a535f;
    text-decoration: none;
    outline: none;
  }
  .dropdown a:hover {
    color: #5d4617;
  }
  .dropdown dt a:hover, .dropdown dt a:focus {
    color: #5d4617;
  }
  .dropdown dt a {
    
    
    display: block;
    
    
    
    
  width: 100%;
      height: 55px;
      
      position: relative;
      margin-bottom: 15px;
      background: #FFFFFF;
      border: 1px solid #C8CACB;
      box-sizing: border-box;
      border-radius: 30px;
      overflow: hidden;
      font-size: 18px;max-width: 117px;display: flex;align-items: center;justify-content: space-around;}
  .dropdown dt a:after {
    content: '';
    
    
    
    
      
      
      
      
  }
  
  .dropdown dt a:before {
      
      content: "";
      
      
      
      
      
      
    
  }
  .dropdown dd ul {
    background: #ffffff;
    
    color: #C5C0B0;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;
    
    width: 100%;
    
    list-style: none;
    max-height: 170px;
    overflow-y: scroll;
    top: 0px;
    z-index: 2;
  }
  
  li a {
    font-size:13px;
  }
  
  li a span:nth-child(2) {
      line-height: 2em;
  }
  .dropdown dd ul::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
   border-left:1px solid rgba(0,0,0,0.1);
  }
  .dropdown dd ul::-webkit-scrollbar-thumb {
   background: rgba(0,0,0,0.4);
  /*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 1px 0 0 #5cace9 inset, 2px 0 0 #b3d5ee inset;
      border-radius:10px;*/
  }
  .dropdown dd ul::-webkit-scrollbar-thumb:window-inactive {
   background: blue;
  }
  .dropdown span.value {
    display: none;
  }
  .dropdown dd ul li a {
    padding: 5px;
    display: block;
    font-size: 12px !important;
  }
  .dropdown dd ul li a:hover {
    background-color: rgba(0,0,0,0.05);
  }
  dl.dropdown {
    display: inline-block;
    width: 100%;
    margin: -3px 0 0 1px;
  }
  dl.dropdown span:nth-child(3) {
    color: rgba(0,0,0,0.4)
  }
  dl.dropdown > span:nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }
  dl.dropdown span:nth-child(3) {
    float: right;
  }
  dl.dropdown dt span:nth-child(2) {
    color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      font-weight: bold;
      line-height: 1.6em;
  }
  dl.dropdown dt span:nth-child(3) {
    display: none;
  }
  .countryFlag {
    padding: 0;
    background-image: url("https://i.imgur.com/OQiDoZe.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    margin-right: 4px;
    width: 16px;
    cursor: pointer;
    white-space: nowrap;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #BFBFC1 #B6B6B6 #969696;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
  }


/*=======Last_Think page End ==========*/



/*=======thank-you page Start =======*/
.thank-you {
height: 100vh;display: flex;align-items: center;}

section.thank-you {}
.thank_you_wrp {
display: flex;align-items: center;justify-content: space-between;}
.thank_you_cont {
max-width: 744px;font-size: 21px;}

.remembar {background: #FFFDFD;
border-radius: 10px;padding: 30px;}

.remembar ul {margin-left: 20px;}

.remembar ul li {list-style: revert;}

.remembar h4 {color: #F90202;margin-bottom: 15px;font-size: 30px;margin-left: 20px;}

.remembar span {background: #FEFD00;
border-radius: 10px;font-weight: 700;padding: 10px 15px;display: block;width: max-content;line-height: 1;margin-bottom: 20px;}

.thank_you_cont p {}

.thank_you_cont h1 {font-size: 135px;}
.thank_you__img {
}
/*=======thank-you page End ==========*/


/*======= page Start =======*/
/*======= page End ==========*/


